<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" href="http://localhost:8080/static/style.css" type="text/css">
</head>
<body>
<div class="errorPage">
    <h1>This page doesn't exist</h1>
    <h3 class="error">Not to worry. You can either head back to <u><a href="home">our homepage</a></u>, or sit there and listen to a goat scream like a human.</h3>
</div>
<div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7jXwFqomkmc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
</div>
</body>
</html>