<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="http://localhost:8080/static/style.css" type="text/css">
    <style>
        .main div {
            float: left;
            clear: none;
        }
    </style>
    <style>
        .main2 div {
            float: left;
            clear: none;
        }
    </style>
</head>
<body class="body1">
<header data-main-header id="Head">
    <div class="main">
        <div class="Logo">
            <a href="/home" class="logo">-GA.LA-</a>
        </div>
    </div>
</header>
<header data-main-header id="PageGauche">
    <div class="main2">
        <div class="Gauche2">
            <h2><a href="/home">🏠Home</a></h2>
            <h2><a href="/contact">✉Contact</a></h2>
        </div>
        <div class="contact">
            <p class="contact">Bienvenue sur notre page de contact ! Nous sommes ravis que vous ayez choisi notre service et nous
                tenons à vous
                remercier pour votre confiance envers notre équipe.
                <br><br>
                Si vous avez des questions, des commentaires ou des préoccupations, veuillez nous contacter à l'une des adresses
                e-mails ci-dessous. Nous sommes là pour vous aider à tout moment.
                <br><br>
                Si vous rencontrez un problème technique ou avez besoin d'une assistance immédiate, veuillez envoyer un e-mail à
                <a href=mailto:adan.laldymaquiha@ynov.com"><u>adan.laldymaquiha@ynov.com</u></a>. Notre équipe d'assistance est disponible 24 heures sur 24 et 7 jours sur 7 pour vous
                aider à résoudre tout problème.
                <br><br>
                Si vous avez des questions sur les produits ou services que nous offrons, veuillez envoyer un e-mail à
                <a href="mailto:gregory.armirail@ynov.com"><u>gregory.armirail@ynov.com</u></a>. Notre équipe commerciale sera ravie de répondre à toutes vos questions et de vous aider à
                choisir la meilleure solution pour vos besoins.
                <br><br>
                Nous tenons à vous remercier encore une fois pour votre confiance envers notre équipe. Nous sommes fiers de fournir
                un excellent service à nos clients et nous apprécions grandement votre retour. Si vous avez des commentaires sur
                notre service ou des suggestions d'amélioration, n'hésitez pas à nous en faire part.
                <br><br>
                À propos de notre équipe :
                Notre équipe a été fondée par deux développeurs passionnés, Gregory et Adan, qui avaient pour objectif de créer
                un site qui permettrait aux clients de bénéficier d'une expérience utilisateur exceptionnelle.
                <br><br>
                Nous sommes fiers de notre équipe de développeurs talentueux et engagés, qui travaillent tous les jours pour fournir
                des produits de haute qualité à nos clients. Nous sommes convaincus que notre équipe est notre plus grand atout et
                nous sommes déterminés à continuer à innover et à offrir un excellent service à nos clients.</p>
        </div>
    </div>
</header>
</body>
</html>